<nav
    class="navbar navbar-expand-md navbar-light bg-light"
>
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">vein2vein</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"                                                                                                               
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 align-items-center">
                <li class="nav-item me-3">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/home">home</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/profile">profile</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/donate">donate</a>
                </li>
                <li class="nav-item ms-5 me-3">
                    <span role="button">SignOut</span>
                </li>
               
              
            </ul>
           
        
        </div>
    </div>
</nav>
