<nav
    class="navbar navbar-expand-md navbar-col py-4"
>
    <div class="container-fluid">
        <a class="navbar-brand text-light ps-5" routerLink="">vein2vein</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"                                                                                                               
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto  bg-light px-5  ">
                <li class="nav-item me-3">
                    <a class="nav-link text-danger" routerLinkActive="active-link" routerLink="/login">login</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link text-danger" routerLinkActive="active-link" routerLink="/register">register</a>
                </li>
               
             
               
              
            </ul>
           
        
        </div>
    </div>
</nav>

